<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Bespoints</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <%- include('partials/navbar') %>
    <main class="mt-32 ml-16"><%- body %></main>
    <%- include('partials/footer') %>
  </body>
</html>
