<footer class="bg-gray-800 text-white py-4 text-center mt-auto">
  <div class="container">
    <div class="col-md-12">
      <p>© Bespoints <%= new Date().getFullYear() %></p>
    </div>
  </div>
</footer>
